# Generic / backend
SPACETIMEDB_DB_NAME=testis-68
SPACETIMEDB_HOST=https://maincloud.spacetimedb.com

# Vite
VITE_SPACETIMEDB_DB_NAME=testis-68
VITE_SPACETIMEDB_HOST=https://maincloud.spacetimedb.com

VITE_GAME_ENGINE_LOGS=true
VITE_GAME_ENGINE=true
